<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal Nodejs App</title>

</head>
<style>
    body {
        background-color: gray;
    }
    h1 {
        color: black;
        padding: 60px;
    } 
    h2 {
        color: black;
    }
    form .input {
        box-shadow: 10pc;
        color: black;
    }
    
    


    </style>
<body>
   
    <h1>Playstation 5</h1>
    <h2>Buy for BRL7500.00</h2>
    <form action="/pay" method="post">
        <input type="submit" value="Buy">
     
    </form>
   
</body>
</html>